<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pojo.Like">
        <id column="Lno" property="Lno" />
        <result column="Pno" property="Pno" />
        <result column="Ano" property="Ano" />
        <result column="Cno" property="Cno" />
        <result column="Oaccount" property="Oaccount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Lno, Pno, Ano, Cno, Oaccount
    </sql>

</mapper>
